:root {
  --color-accent-default: oklch(0.65 0.111 204);
  --color-accent-deep-default: oklch(from var(--color-accent-default) 30% 50% h);
  --color-accent-dark-default: oklch(from var(--color-accent-default) 50% 50% h);
  --color-accent-light-default: oklch(from var(--color-accent-default) 95% 5% h);
  --color-grey: oklch(80% 3% 200);
  --color-accent: color-mix(in oklch, var(--color-accent-deep-default), CanvasText 50%);
  --color-accent-high: light-dark(
    color-mix(in oklch, var(--color-accent-default), black 35%),
    color-mix(in oklch, var(--color-accent-default), white 15%)
  );
  --color-accent-med: light-dark(
    color-mix(in oklch, var(--color-accent-default), black 0%),
    color-mix(in oklch, var(--color-accent-default), white 60%)
  );
  --color-accent-low: light-dark(
    color-mix(in oklch, var(--color-accent-default), white 70%),
    color-mix(in oklch, var(--color-accent-default), black 60%)
  );
}

body {
 /* Set line height to 1.5 times the font size
    and use the OS’s UI font as the website font
  */
 font: 100%/1.5 system-ui;
 max-width: 100ch;
 margin-inline: auto;
 padding: 5ch;
 accent-color: var(--color-accent);
}

input, textarea, button, select {
  font: inherit;
}

/* form label {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-block: 0.5em;
}

form input,
form textarea,
form button {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font: inherit;
} */

form {
  display: grid;
  grid-template-columns: auto 1fr;
}

form label {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  gap: 1em;
  margin-block: 0.5em;
}

img {
  max-width: 100%;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}

/* Intro + reading sidebar layout */
.intro-and-reading {
  display: grid;
  grid-template-columns: 1fr 40%;
  gap: 2em;
  align-items: start;
}

.reading-sidebar {
  background-color: var(--color-accent-low);
  padding: 1.5em;
}

.reading-sidebar h2 {
  margin-top: 0;
}

.reading-sidebar .reading {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

h1 {
  font-size: 400%;
  line-height: 1.1;
  text-wrap: balance;
  color: var(--color-accent-high);
}

h2 {
  font-size: 200%;
  line-height: 1.1;
  text-wrap: balance;
  color: var(--color-accent-high);
}

h3 {
  line-height: 1.1;
  text-wrap: balance;
  color: var(--color-accent-med);
}

h4 {
  line-height: 1.1;
  text-wrap: balance;
}

h5 {
  line-height: 1.1;
  text-wrap: balance;
}

h6 {
  line-height: 1.1;
  text-wrap: balance;
}

.contact-info {
  display: flex;
}

.contact-info ol, .contact-info ul {
  display: contents;
}

.contact-info li {
  list-style: none;
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
  margin-bottom: 1.5em;
  border-bottom: 3px solid var(--color-accent-high);
  padding-bottom: 1.5em;
  padding-top: 1.5em;
  border-top: 3px solid var(--color-accent-high);
}

.resume-section {
  margin-block: 2em;
  margin-top: -2em;
  padding-block: 1em;
  border-bottom: 3px solid var(--color-accent-high);
}

.resume-entry {
  display: grid;
  grid-template-columns: 1fr minmax(10ch, 18ch);
  gap: 1.5em 2em;
}

.resume-entry-meta {
  margin-top: 1em;
  text-align: end;
  font-size: 0.9em;
  color: var(--color-accent);
  /* color: oklch(from var(--color-grey) 60% 2% h); */
}

.resume-entry--no-meta {
  grid-template-columns: 1fr;
}
